<a href="https://colab.research.google.com/github/PoonamPatwardhan/DemoML/blob/MLPractice1/MachineLearningHackathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import seaborn as sns
train_data = pd.read_csv('train.csv')

In [0]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78369 entries, 0 to 78368
Data columns (total 5 columns):
id                   78369 non-null int64
campaign_id          78369 non-null int64
coupon_id            78369 non-null int64
customer_id          78369 non-null int64
redemption_status    78369 non-null int64
dtypes: int64(5)
memory usage: 3.0 MB

In [0]:
train_data['redemption_status'].value_counts()

0    77640
1      729
Name: redemption_status, dtype: int64

In [0]:
customer_data = pd.read_csv('customer_demographics.csv')

In [0]:
customer_data.head()

   customer_id age_range  ... no_of_children  income_bracket
0            1       70+  ...            NaN               4
1            6     46-55  ...            NaN               5
2            7     26-35  ...              1               3
3            8     26-35  ...              2               6
4           10     46-55  ...            NaN               5

[5 rows x 7 columns]

In [0]:
train_cust = pd.merge(train_data, customer_data, on="customer_id", how = "outer")